body {
  font-family: 'Lato', sans-serif;
  background-color: #fee440;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapperComponents {
  flex: 1;
}
